* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}

.wrapper {
    max-width: 1200px;
    margin: auto;
}

.inicio {
    color: white;
    font-size: 1.3em;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1fb2da;
    animation-name: color;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

.span--resaltado {
    color: #ff4500;
    font-weight: 600;
    text-decoration: none;
}

.boton--normal {
    font-size: 0.8em;
    margin-top: 1.5em;
    border: 1px solid white;
    background: none;
    padding: 0.5em;
    color: white;
    text-decoration: none;
}

.fa-angle-right {
    margin-left: .5em;
    transition: all 0.4s;
}

.boton--normal:hover .fa-angle-right {
    transform: rotate(90deg);
    transition: all 0.4s;
}

.boton--normal:hover {
    background-color: #ff4500;
    border-color: #ff4500;
    transition: all 0.4s;
}

.titulo {
    padding: 1em;
    text-align: center;
}

.hr {
    margin: 2em auto;
    width: 40%;
    background-color: #000000;
    height: 0.1em;
    border: none;
}

.info__img {
    width: 13em;
    height: 13em;
    border-radius: 100%;
    object-fit: cover;
    margin-bottom: 1em;
}

.info__descripcion {
    margin: 1em 0;
}

.habilidades {
    background-color: #EBEBEB;
}

.habilidades__barra {
    background-color: #ff4500;
    text-align: left;
    padding: .4em 1em;
    margin: 1em 0;
    border-radius: 0 50px 50px 0;
    color: white;
    box-shadow: 3px 3px #888787;
    font-size: 0.8em;
    transition: all 1s;
}

.lenguaje--html {
    width: 80%;
}

.lenguaje--css {
    width: 70%;
}

.lenguaje--js {
    width: 50%;
}

.lenguaje--php {
    width: 50%;
}

.lenguaje--mysql {
    width: 80%;
}

.lenguaje--java {
    width: 60%;
}

.lenguaje--angular {
    width: 30%;
}

.contacto {
    background-color: #EBEBEB;
}

.formulario {
    margin: 1em;
}

.input {
    padding: 0.5 1em;
    margin: 0.3em 0;
    border: none;
    box-shadow: 0 0 5px #ff4500;
    color: orangered;
}

.boton--enviar {
    margin-top: 0.3em;
    border: 1px solid #ff4500;
    color: #ff4500;
    background: none;
    padding: 0.5em;
}

.fa-angle-double-up {
    margin-top: .4em;
    color: #ff4500;
    font-size: 3em;
}

footer {
    margin: 1em 0;
    width: 100%;
    text-align: center;
}

.redes-sociales {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 1em;
    max-width: 700px;
    margin: auto;
}

.cuentas {
    width: 4em;
    height: 4em;
    border-radius: 100%;
    background-color: #ff4500;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.fab {
    font-size: 1.3em;
    transition: all 0.4s;
}

.cuentas:hover .fab {
    transform: rotate(360deg);
    transition: all 0.4s;
}


/* animaciones */

@keyframes color {
    25% {
        background-color: #36d89f;
    }
    50% {
        background-color: #bdc9c5;
    }
    75% {
        background-color: #500009;
    }
}


/* mediaqueris */

@media screen and (min-width: 480px) {
    .inicio {
        font-size: 2em;
    }
    h2 {
        font-size: 2.5em;
    }
    .info__img {
        width: 18em;
        height: 18em;
    }
    h3 {
        font-size: 2em;
    }
    .info p {
        font-size: 1.5em;
    }
    .info .span--resaltado {
        font-size: 1.5em;
    }
    .habilidades__barra {
        font-size: 1.2em;
        box-shadow: 5px 5px #888787;
    }
    .contacto p {
        font-size: 1.5em;
    }
    .input {
        font-size: 1.5em;
    }
    .boton--enviar {
        font-size: 1.5em;
    }
    .cuentas {
        width: 5em;
        height: 5em;
    }
    .fab {
        font-size: 1.5em;
    }
    footer p {
        font-size: 1.5em;
    }
    .hr {
        margin: 2.5em auto;
        height: 0.2em;
    }
    .titulo {
        margin-top: 2em;
        padding: 2em;
    }
}

@media screen and (min-width: 768px) {
    .hr {
        margin: 3em auto;
        width: 30%;
        height: 0.3em;
    }
    .titulo {
        margin-top: 2em;
        padding: 3em;
    }
    .inicio {
        font-size: 3em;
    }
    h2 {
        font-size: 3em;
    }
    .info__img {
        width: 28em;
        height: 28em;
    }
    h3 {
        font-size: 3em;
    }
    .info p {
        font-size: 2em;
    }
    .info .span--resaltado {
        font-size: 2em;
    }
    .habilidades__barra {
        padding: 0.6em 1em;
        margin: 1.2em 0;
        box-shadow: 5px 5px #888787;
        font-size: 1.7em;
    }
    .contacto p {
        font-size: 2em;
    }
    .input {
        font-size: 2em;
    }
    .boton--enviar {
        font-size: 2em;
    }
    .cuentas {
        width: 7em;
        height: 7em;
    }
    .fab {
        font-size: 2em;
    }
    footer p {
        font-size: 2em;
    }
}

@media screen and (min-width: 1024px) {
    .hr {
        margin: 2em auto;
        width: 10%;
        height: .2em;
    }
    .titulo {
        margin-top: 2em;
        padding: 2em;
    }
    .inicio {
        font-size: 2.3em;
    }
    .boton--normal {
        font-size: .55em;
        padding: .4em .7em;
    }
    h2 {
        font-size: 2.5em;
    }
    .info__img {
        width: 18em;
        height: 18em;
        border: 4px solid #ff4500;
        margin-bottom: 2em;
    }
    h3 {
        font-size: 1.7em;
        font-weight: 600;
    }
    .info p {
        font-size: 1.3em;
    }
    .info__descripcion {
        margin: 1em 0 .3em 0;
    }
    .info .span--resaltado {
        font-size: 1.3em;
    }
    .habilidades__barra {
        font-size: 1.2em;
    }
    .contacto p {
        font-size: 1.3em;
    }
    .input {
        font-size: 1.1em;
    }
    .boton--enviar {
        font-size: 1.1em;
    }
    .cuentas {
        width: 5em;
        height: 5em;
    }
    .fab {
        font-size: 1.5em;
    }
    footer p {
        margin: .7em 0;
        font-size: 1em;
    }
}

@media screen and (min-width: 1336) {
    .hr {
        margin: 2em auto;
        width: 10%;
        height: .2em;
    }
    .titulo {
        margin-top: 2em;
        padding: 2em;
    }
    .inicio {
        font-size: 2.3em;
    }
    .boton--normal {
        font-size: .55em;
        padding: .4em .7em;
    }
    h2 {
        font-size: 2.5em;
    }
    .info__img {
        width: 18em;
        height: 18em;
        border: 4px solid #ff4500;
        margin-bottom: 2em;
    }
    h3 {
        font-size: 1.7em;
        font-weight: 600;
    }
    .info p {
        font-size: 1.3em;
    }
    .info__descripcion {
        margin: 1em 0 .3em 0;
    }
    .info .span--resaltado {
        font-size: 1.3em;
    }
    .habilidades__barra {
        font-size: 1.2em;
    }
    .contacto p {
        font-size: 1.3em;
    }
    .input {
        font-size: 1.1em;
    }
    .boton--enviar {
        font-size: 1.1em;
    }
    .cuentas {
        width: 5em;
        height: 5em;
    }
    .fab {
        font-size: 1.5em;
    }
    footer p {
        margin: .7em 0;
        font-size: 1em;
    }
}

@media screen and (min-width: 1500) {
    .hr {
        margin: 2em auto;
        width: 10%;
        height: .2em;
    }
    .titulo {
        margin-top: 2em;
        padding: 2em;
    }
    .inicio {
        font-size: 2.3em;
    }
    .boton--normal {
        font-size: .55em;
        padding: .4em .7em;
    }
    h2 {
        font-size: 2.5em;
    }
    .info__img {
        width: 18em;
        height: 18em;
        border: 4px solid #ff4500;
        margin-bottom: 2em;
    }
    h3 {
        font-size: 1.7em;
        font-weight: 600;
    }
    .info p {
        font-size: 1.3em;
    }
    .info__descripcion {
        margin: 1em 0 .3em 0;
    }
    .info .span--resaltado {
        font-size: 1.3em;
    }
    .habilidades__barra {
        font-size: 1.2em;
    }
    .contacto p {
        font-size: 1.3em;
    }
    .input {
        font-size: 1.1em;
    }
    .boton--enviar {
        font-size: 1.1em;
    }
    .cuentas {
        width: 5em;
        height: 5em;
    }
    .fab {
        font-size: 1.5em;
    }
    footer p {
        margin: .7em 0;
        font-size: 1em;
    }
}